
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" ng-repeat="product in products">
        <div class="card" style="width: 18rem;" >
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{product.price | currency}}</h6>
                <p class="card-text">
                    <div class="product-feature" ng-repeat="feature in product.features">{{feature}}</div>
                </p>
                <div class="buy-button-wrapper">
                    <a ng-click="orderProduct(product)" class="btn btn-raised btn-success buy-button">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>
