
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-repeat="product in products">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{product.price | currency}}</h6>
                <p class="card-text">
                    <div class="product-feature" ng-repeat="feature in product.features">{{feature}}</div>
                </p>
                <div class="center-button-wrapper">
                    <a ng-click="orderProduct(product)" class="btn btn-raised btn-success buy-button">Buy</a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col">
        <div id="marketFooter">
            <p>All products come with a 30-day money-back guarantee.</p>
        </div>
    </div>
</div>
