/* app css stylesheet */

body {
  background-color: lightgray;
}

hr {
    border-color: lightgray;
}


#mainNavbar {
  color: #ffffff;
  background-color: #3f51b5;
}

#sidebarNav {
  background-color: #BEBEBE;
    height: 100%;

}

.list-group > a.active {
    background-color: #3f51b5;
}

.brandLabel {
    position: absolute;
    left: 100px;
    font-weight: 500;
    font-size: xx-large;
}


/* Card styles */
.card {
  margin-top: 10px;
  min-height: 300px;
}

.center-button-wrapper {
  width: 100%;
  display: flex;
    position: absolute;
    bottom: 10px;
    left: 20%;
}

.buy-button{
   width: 60%;
}

#marketFooter {
    text-align: center;
    margin-top: 25px;
}

.product-feature:before {
  content: "* ";
  font-weight: bold;
}

.card-title, .card-subtitle {
  text-align: center;
}

/* Market page-specific styles */
#orderSummaryCard, #confirmationCard {
    min-height: 0px;
}

@media (max-width: 510px) {
  .card{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 511px) and (max-width: 767px) {
 .card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {

  .card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* End market page styles */

#orderConfirmButton {
  float: right;
}

/* Shipping form-specific styles */
@media (max-width: 510px) {
  #shippingDetailsCard, #shippingFormCard {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 511px) and (max-width: 767px) {
  #shippingDetailsCard, #shippingFormCard {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  /* Correct some weird formatting on state at larger breakpoints */
  #state {
    margin-top: -9px;
  }

  #shippingDetailsCard, #shippingFormCard {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* End shipping form styles */