/* app css stylesheet */

body {
  background-color: lightgray;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


/* Card styles */
.card {
  margin-top: 10px;
  min-height: 300px;
}

.buy-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-button{
   width: 60%;
}

.product-feature:before {
  content: "* ";
  font-weight: bold;
}

.card-title, .card-subtitle {
  text-align: center;
}