/* app css stylesheet */

body {
  background-color: lightgray;
}


#mainNavbar {
  color: #ffffff;
  background-color: midnightblue;
}

#sidebarNav {
  background-color: #BEBEBE;
    height: 100%;

}

.brandLabel {
    position: absolute;
    left: 100px;
    font-weight: 500;
    font-size: xx-large;
}


/* Card styles */
.card {
  margin-top: 10px;
  min-height: 300px;
}

.buy-button-wrapper {
  width: 100%;
  display: flex;
    position: absolute;
    bottom: 10px;
    left: 20%;
}

.buy-button{
   width: 60%;
}

#marketFooter {
    text-align: center;
    margin-top: 25px;
}

.product-feature:before {
  content: "* ";
  font-weight: bold;
}

.card-title, .card-subtitle {
  text-align: center;
}

#shippingDetailsCard {

}

#shippingFormCard {

}

#orderConfirmButton {
  float: right;
}

@media (max-width: 510px) {
  #shippingDetailsCard, #shippingFormCard {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 511px) and (max-width: 767px) {
  #shippingDetailsCard, #shippingFormCard {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  /* Correct some weird formatting on zipcode at larger breakpoints */
  #state {
    margin-top: -9px;
  }

  #shippingDetailsCard, #shippingFormCard {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}